firebase-functions
functions-framework
openai
python-dotenv
firebase-admin
flask

# LangChain 패키지 및 버전 고정
#langchain==0.1.9
#langchain-openai==0.0.8
#langchain-community==0.0.21
#langchain-core>=0.2.22

langchain==0.2.16
langchain-openai==0.1.25
langchain-experimental>=0.0.62
langchain-community>=0.2.10
google-cloud-storage>=2.18.0
google-cloud-firestore>=2.18.0
